---
layout: default
---

{% include marquee.liquid content='Our Top 5 Favorite Coffeshops in Orange County' link='/lists/top-5-favorite-coffeshops-in-orange-county' image='https://hd.unsplash.com/photo-1442512595331-e89e73853f31' %}

<div class="container">
  <div class="batch-g batch-g--padding">

    <div class="batch-c-1-1 batch-c-sm-2-3">
      {% include blog_feed.liquid %}
    </div>

    <aside class="batch-c-1-1 batch-c-sm-1-3">
      {% include instagram_feed.liquid %}
      <section>

      </section>
    </aside>

  </div>
</div>
