---
title: Foodlyweds
layout: default
image: /images/image.jpg
description: We're two newlyweds living in Orange County, and to put it simply, we're eating all the things. Donuts. Coffee. Burgers. Boba. Pizza. You name it, we're into it.
---

{% include marquee.liquid content="The Foodlyweds Blog is Finally Here!" image='/images/marquee.jpg' %}

<div class="container">
  <div class="batch-g batch-g--padding">

    <div class="batch-c-1-1 batch-c-sm-2-3">
      {% include blog_feed.liquid %}
    </div>

    <aside class="batch-c-1-1 batch-c-sm-1-3">
      {% include instagram_feed.liquid %}
      <section>

      </section>
    </aside>

  </div>
</div>
