<footer>
  <div class="container">
    <img class="footer-logo" src="{{ site.baseurl }}/images/logos/logo.png" alt="Foodlyweds Donut and Ring Logo">
    <p class="copyright"><i class="fa fa-copyright"></i> 2016 Foodlyweds</p>
    <p class="made-by">Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://www.jordiesaenz.com/">Jordie Saenz</a>.</p>
  </div>
</footer>
