<header>
  <a id="menuDropdown" class="logo-link" href="javascript:void(0)"><img class="logo" src="{{ site.baseurl }}/images/logos/text_logo.png"><i id="dropdownIcon" class="fa fa-caret-down"></i></a>
</header>
<div id="menu" class="menu">
  <nav>
    <div class="nav-links">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/blog/">Blog</a>
      <a class="nav-link" href="/lists/">Lists</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/contact/">Contact</a>

    </div>
  </nav>
  <div class="header-margin"></div>
</div>
