<section class="instagram-feed">
  <p class="instagram-feed-title">Instagram Feed:</p>
  <div class="panel">
    <div id="instafeed" class="batch-g batch-g--padding"></div>
    <a target="_blank" class="instagram-link" href="http://www.instagram.com/foodlyweds">View More on Instagram <i class="fa fa-chevron-right"></i></a>
  </div>
</section>
