footer {
  background-color: $white;
  margin-top: unit(4);
  padding: unit(2);
  position: relative;
  @extend %transition;
  .copyright {
    display: block;
    float: none;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: unit(2);
  }
  .footer-logo {
    display: block;
    margin: auto;
    max-width: 120px;
    padding: 0 30px;
  }
  .made-by, .made-by a {
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
  }
  i.fa.fa-heart {
    color: $red;
  }
  @media (max-width: $sm-max) {
    padding-bottom: unit(2) + 48px;
  }
}
