header {
  width: 100%;
  height: unit(5);
  z-index: 999;
  background-color: white;
  @include position(fixed, 0 0 null 0);
  @include shadow(1);
  .logo-link {
    @include position(absolute, 50% null null 50%);
    @include transform(translateX(-50%) translateY(-50%));
    .fa {
      color: $black;
      @include position(absolute, 50% unit(-1.5) null null);
      @include transform(translateY(-50%));
      @extend %transition;
    }
    .logo {
      max-height: unit(2.5);
      height: auto;
      width: auto;
    }
    &:hover, &:active, &:focus {
      .fa { color: $pink; }
    }
  }
}
.menu {
  nav {
    background-color: $light-gray;
    vertical-align: middle;
    position: fixed;
    top: unit(0);
    height: unit(4);
    width: 100%;
    z-index: 998;
    @include shadow(1);
    @extend %transition;
  }
  .nav-links {
    margin: auto;
    text-align: center;
    height: unit(4);
    line-height: unit(4);
  }
  .nav-link {
    text-decoration: none;
    color: $black;
    display: inline;
    height: 100%;
    line-height: 100%;
    position: relative;
    vertical-align: middle;
    padding: 0 unit(2);
    visibility: hidden;
    @include focus() {
      color: $pink;
    }
  }
  .header-margin {
    display: block;
    width: 100%;
    height: unit(4);
    @extend %transition;
  }
  &.open {
    nav {
      top: unit(5);
    }
    .header-margin {
      height: unit(8);
    }
    .nav-link {
      visibility: visible;
    }
  }
  @media (max-width: $sm-max) {
    .nav-links {
      background-color: $light-gray;
    }
    .nav-link {
      display: block;
    }
    &.open {
      nav {
        top: 0;
        padding: unit(7) 0 0;
        height: 100%;
      }
      .header-margin { height: unit(4); }
    }
  }
}
