section.instagram-feed {
  margin-top: unit(2);
  .instagram-feed-title {
    font-size: 2rem;
    font-family: $sans-serif;
    font-weight: 700;
  }
  .panel {
    margin-top: 40px;
    padding: 10px;
  }
}
