section.instagram-feed {
  margin-top: unit(2);
  .instagram-feed-title {
    font-size: 2rem;
    font-family: $sans-serif;
    font-weight: 700;
  }
  .panel {
    margin-top: 40px;
    padding: 1px;
  }
  .instagram-link {
    display: block;
    margin: 20px auto 30px;
    color: $black-80;
    text-align: center;
    padding: 0;
    text-decoration: none;
    @include focus() {
      color: $pink;
    }
  }
  .instagram-post {
    position: relative;
    overflow: hidden;
    @extend %transition;
    .post-info {
      margin: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      @include position(absolute, unit(1) null null -25px);
      list-style: none;
      color: $white;
      opacity: 0;
      @extend %transition;
      li { font-size: 1rem; }
    }
    .post-caption {
      position: absolute;
      color: white;
      font-size: 10px;
      top: 50px;
      bottom: 0;
      width: calc(100% - 30px);
      margin: auto;
      left: 15px;
      visibility: hidden;
      opacity: 0;
      @extend %transition;
      max-height: 100%;
      pointer-events: none;
    }
    @include focus() {
      @include transform(translateY(-3px));
      img {
        @include shadow(2);
        @include filter(grayscale(50%) brightness(60%));
        @extend %transition;
      }
      .post-info, .post-caption {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
