section.list {
  .list-item {
    margin-top: unit(2);
    padding-top: unit(2);
    border-top: 1px solid $black-50;
  }
  .list-item-images {
    margin: unit(1) auto;
  }
  .list-item-image { padding: 5px; }
}
