<!DOCTYPE html>
<html>
  {% include head.liquid %}
  <body>
    <div class="color-overlay site-overlay">
      <h1 class="overlay-title">Hey! Our website isn't ready yet, but it will be soon! In the meantime, <a href="https://www.instagram.com/foodlyweds">check us out out on Instagram</a>, or contact us at <a href="mailto:hello@foodlyweds.com">hello@foodlyweds.com</a>.</h1>
    </div>
    <div class="sticky-footer-wrap">
      <div class="content-wrap">
        {% include header.liquid %}
        {{ content }}
      </div>
      <div class="footer-wrap">
        {% include footer.liquid %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/header.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/scripts/instafeed.js"></script>
  </body>
</html>
