<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}
  <body>
    <div class="sticky-footer-wrap">
      <div class="content-wrap">
        {% include header.liquid %}
        {{ content }}
      </div>
      <div class="footer-wrap">
        {% include footer.liquid %}
      </div>
    </div>
    {% include scripts.liquid %}
  </body>
</html>
