---
layout: default
---

{% include marquee.liquid content=page.title image=page.marquee_image %}

<section class="post">
  <div class="container">
    <div class="batch-g batch-g--padding">
      <div class="batch-c-1-1 batch-c-sm-2-3">
        <article>
          {{ content }}
        </article>
      </div>
      <aside class="batch-c-1-1 batch-c-sm-1-3">
        {% include instagram_feed.liquid %}
        {% include optin.liquid %}
      </aside>
    </div>
  </div>
</div>
