@mixin btn-styles($color, $background-color, $hover-color, $hover-background-color) {
  color: $color;
  background-color: $background-color;
  box-shadow: 0 0 5px $black-50;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $hover-color;
    background-color: $hover-background-color;
    box-shadow: 0 2.5px 10px $black-80;
  }
}
%btn-block-styles {
  display: block;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.btn {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  @extend %transition;
  border-radius: 0;
  &.btn-block {
    @extend %btn-block-styles;
  }
  &-download {
    @include btn-styles($white, $blue, $white, lighten($blue, 5%));
    margin-top: 15px;
  }
}
