html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f9fbfb;
}

* {
  @include selection(true) {
    background: $yellow;
    color: $white;
  }
}
.color-overlay {
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  @include position(absolute, 0 0 0 0);
  z-index: 100;
  &-modal {
    display: none;
    z-index: 100;
    background: $black-80;
    @extend %transition;
    &.display { display: block; }
  }
  &.site-overlay {
    z-index: 999999;
    position: fixed;
    .overlay-title {
      max-width: 720px;
      padding: unit(2);
      text-align: center;
      margin: auto;
      font-size: 3.2rem;
      @include position(absolute, 50% null null 50%);
      @include transform(translate(-50%, -50%));
      a { font-size: 3.2rem; }
    }
  }
}

section {
  margin: unit(2) 0 0;
}

.panel {
  background: $white;
  padding: unit(2);
  margin: unit(2) auto 0;
  @include shadow(1);
  @extend %transition;
  &-image {
    height: unit(20);
    max-height: unit(20);
    margin: unit(-2) unit(-2) unit(2);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    @extend %transition;
    &-overlay {
      height: unit(20);
      max-height: unit(20);
      @extend .color-overlay;
      background-color: $white-80;
      opacity: 0;
      @extend %transition;
    }
  }
  &-heading {
    > * {
      display: inline;
      vertical-align: baseline;
    }
  }
}

hr {
  margin: unit(2) 0;
}


.img-responsive {
  width: 100%;
  height: auto;
}

.container {
  max-width: $xl-min - ($container-gutter * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-gutter;
  padding-left: $container-gutter;
  @include position(relative);
  &--fluid {
    width: 100%;
    max-width: 100%;
  }
  &-content {
    padding-top: 60px;
    padding-bottom: 60px;
    @include transition(margin-top .3s, margin-bottom .3s);
    @media (max-width: $md-max) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &-inner {
    max-width: 960px;
    margin: auto;
  }
}
.container:before,
.container:after {
  @extend .clearfix;
}
@media (max-width: $md-max) {
  .container {
    padding-right: $container-gutter-md;
    padding-left: $container-gutter-md;
  }
}
@media (max-width: $sm-max) {
  .container {
    padding-right: $container-gutter-sm;
    padding-left: $container-gutter-sm;
  }
}
@media (max-width: $xs-max) {
  .container {
    padding-right: $container-gutter-xs;
    padding-left: $container-gutter-xs;
  }
}

.sticky-footer-wrap {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  .content-wrap {
    display: table-row;
    height: 100%;
  }
  .footer-wrap {
    display: table-row;
    height: 1px;
  }
}
