@mixin font-size($value) {
  font-size: ((($value / ($value * 0 + 1)) / 16 * 1) * 62.5%);
}


html {
  @include font-size(18px);
  color: $black;
  @media (max-width: $sm-max) {
    @include font-size(16px);
  }
}

body {
  font-family: $sans-serif;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, a { margin: 0; }

h1 { font-size: 3.6rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }
p, a, ol, ul, li, pre {
  font-size: 1.6rem; font-weight: 400;
}


p {
  font-family: $serif;
  margin-top: 15px;
}

a {
  color: $red;
  @extend %transition;
  word-break: break-word;
  word-wrap: break-word;
  &:hover, &:focus, &:active { color: $blue }
}

pre.codeblock {
  white-space: pre;
  margin: 15px 0;
  padding: 15px;
  background-color: #002b36;
  color: #93a1a1;
  @include border-radius(3px);
  .blue { color: #268bd2 }
  .red { color: #dc322f }
  .yellow { color: #859900 }
  .cyan { color: #2aa198 }
  &.single { white-space: normal; }
}

.tagline {
  font-family: $serif;
  font-weight: 400;
  font-size: 2.4rem;
}
