@mixin font-size($value) {
  font-size: ((($value / ($value * 0 + 1)) / 16 * 1) * 62.5%);
}

@import url("https://fonts.googleapis.com/css?family=Arapey:400,400i");

html {
  @include font-size(18px);
  @media (max-width: $sm-max) {
    @include font-size(16px);
  }
}

body {
  font-family: $sans-serif;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, a { margin: 0; color: $black; }

h1 { font-size: 3.2rem; line-height: 1.3333; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }
p, a, ol, ul, li, pre {
  font-size: 1.6rem; font-weight: 400;
}


p {
  font-family: $serif;
  margin-top: 15px;
  color: $white-80;
}

a {
  color: $white;
  text-decoration: none;
  @extend %transition;
  word-break: break-word;
  word-wrap: break-word;
  &:hover, &:focus, &:active { color: $blue }
}
