// Colors
$cyan: #18FFFF;
$pink: #FF4081;

$purple: #E040FB;
$black: #0f100c;
$black-80: transparentize($black, 0.2);
$black-50: transparentize($black, 0.5);
$white: #fffefe;
$white-80: transparentize($white, 0.2);
$white-50: transparentize($white, 0.5);

$red: #e46;
$blue: #1b9;
$yellow: #dcb660;

// Fonts
$sans-serif: "Arapey", sans-serif;
$serif: "Arapey", serif;

// Layout
$base-unit: 15px;
